/* Global CSS */

@font-face {
  font-family: "Farisi";
  src: url("fonts/Farisi.ttf");
}
@font-face {
  font-family: "Zeyn";
  src: url("fonts/29LTZeyn-Light.otf");
}
@font-face {
  font-family: "Nastaliq";
  src: url("fonts/NotoNastaliqUrdu-Regular.ttf");
}

:root {
  /* Fonts */
  --fontFamily-sans: Arial;
  --fontFamily-serif: Times;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);

  /* Typography */
  --lineHeight-none: 1;

  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;

  /* Colors */
  --color-primary: #4a3829;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Spacing */
	--width: 100%;
	--mobileWidth: 420px;
}
